.Main-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100Vh;
    width: 100vw;
    background-color: #282c34;
    color: white;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline, #demo-simple-select-helper-label, #demo-simple-select-helper, .MuiSvgIcon-root{
    color: white !important;
    border-color: white;

    
}

.trains-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    width: 100vw;
    background-color: #282c34;
    color: white;
    border: 1px solid red;
}