.Main-container 
{
    display: grid;
    grid-template-rows: 10%  30% 60%;
    height: 100%;
    text-align: center; 
    align-items: center;
    color: white;
}
.Main-container .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline, .Main-container #demo-simple-select-helper-label, .Main-container #demo-simple-select-helper, .Main-container .MuiSvgIcon-root{
    color: white;
    border-color: white;

    
}

.Main-container h3 {
    padding-top: 8em;
}
.Main-container button {
    /* background-color: #1a3b5d;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s ease; */

    /* margin-top: 2em; */
}

.stations-container {
    grid: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%; 
    align-items: center;
    text-align: center;
    margin: auto;
    padding: auto;

    
    
}
.schedule-container{
    grid: 2;
    display: grid;
    grid-template-rows: 20% 80%;
    width: 80%;
    padding: auto;
    margin: auto;
    height: 100%;
    text-align: center;
  
}


.trains-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    /* height: 15em; */
    width: 100%;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
}


.train, .train-header {
    
    display: flex;
  align-items: center;
  padding: 20px;
  /* border: 1px solid #ccc; */
  
  background-color: #1a3b5d;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
   
}

.train-header {
    grid: 1;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    
    background-color: #59788e;
    margin-top: 3em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: auto;

    
}
.train div, .train-header div{
    flex: 1;
  margin: 0 10px;
  text-align: center;


}

.YELLOW {
    background: linear-gradient(to left, rgb(147, 147, 1), #1a3b5d);
    
}

.GREEN {
    background: linear-gradient(to left, rgb(2, 122, 2), #1a3b5d);
    
}

.RED {
    background: linear-gradient(to left, rgb(255, 0, 0), #1a3b5d);
    
}

.BLUE {
    background: linear-gradient(to left, rgb(0, 0, 255), #1a3b5d);
    
}

.ORANGE {
    background: linear-gradient(to left, rgb(255, 128, 0), #1a3b5d);
    
}



.waiting {
    color: red;
    
}

/* 
yellow = antioch, millbrae/sfo
blue dublin/pleasanton, daly city
orange = berrysessa, richmond
greenline = fremont, daly city #339933
redline = richmond, millbrae/sfo
beigeline = oakland airport */

