.favorites{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    overflow-y: auto;
}

.favorites-stations-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width:100%;
    height: auto;
    min-height: 80% ;
    overflow-y: auto;
}
.favorites-station {
   height: 10em;
   padding: 30px;
   background-color: #f4f4f4;
   color: black;
   margin: 2em;
   border-radius: 10px;
}
.favorites-trains-container {
    height: 100%;
    overflow-y: auto;
}

.favorites-trains-container .train {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    /* height: 15em; */
    width: 100%;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    color: red;
}