.nav-bar {
    background-color: #264ECA;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 60px;
    align-items: center;
    text-decoration: none;
    
}

.nav-bar ul{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border: 1px solid black;
    color: aliceblue;
}
.nav-bar a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-color: #264ECA;
    transition: background-color 0.5s ease;
}


